<ion-header no-border>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Forget Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" slot="fixed">
  <ion-grid>
      <ion-row>
          <ion-col>
              <div class="card-body">
                  <div class="loginPg">
                      <div class="loginBx">
                          <form [formGroup]="forgetpassForm" (ngSubmit)="submit()">

                            <p>Forgot your password? Please enter your Email ID
                              We'll b sending an OTP to your Email ID</p>

                            <div class="form-group">
                              <input type="email" class="form-control" formControlName="email" placeholder="Email">
                              <div class="error" *ngIf="forgetpassForm.controls['email'].errors?.required &&
                              forgetpassForm.controls['email'].touched">Email is required</div>
                            </div>

                              <div class="text-center">
                                  <ion-button [disabled]="!forgetpassForm.valid" type="submit" color="primary" shape="round" expand="block">NEXT</ion-button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>