ion-content {
    --background: url('/assets/images/bg-webc112.png') no-repeat center left/contain fixed, #fff;
    position: relative;
    height: 100%;
    width: 100%;
}

.bgpro {
    background-image: url('/assets/images/bgpro.jpg');
    height: auto;
    background-size: cover;
    filter: blur(0px);
    background-repeat: no-repeat;
    background-position: center center;
}

.event-header {
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #0f6464;
  }
  .event-header h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #0f6464;
    margin: 0;
  }

.event-bookticket{
    background: #000;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position:relative;
  }
  .bookticket-left {
    width: 70%;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    padding: 15px;
    position:relative;
  }
  .bookticket-left::before {
    background: -webkit-linear-gradient(359deg,#065e5eb8,#000000de);
    opacity: .3;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
  .event-name-print h1{
    font-size: 12px;
    line-height: initial;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color:#fff;
    margin: 0;
  }
  .event-name-print h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #ffeb00;
    text-transform: uppercase;
    line-height: inherit;
    margin: 0;
  }
  .event-name-print h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: initial;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    margin-top: 2px;
  }
  .event-name-print h4 span{
    color: #fff;
  }
  .event-time-venu{
    margin-top:25px;
  }
  .event-time-venu h3{
    font-size: 12px;
    line-height: initial;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:#fff;
    margin: 0;
    text-transform: uppercase;
  }
  .event-time-venu p{
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
  }
  .top-circle-area{
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    top: -15px;
    left: -17px;
    position: absolute;
  }
  .top-circle-area-bottom{
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    top: -15px;
    right: -17px;
    position: absolute;
  }
  .ticket-logo{
    position: absolute;
    z-index: 1;
    width: 100px;
    transform: rotate(270deg);
    top: 80px;
    right: -10px;
  }
  .bookticket-right{
    width:30%;   
    border-left: 3px dashed #fff;
    background: linear-gradient(359deg,#065e5e,#000000);
    padding: 15px;
    position:relative;
  }
  .booking-right-text{
    height: 150px;
  }
  .booking-right-text h1{
    font-size: 12px;
    line-height: initial;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #fff;
    margin: 0;
  }
  .booking-right-text h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: #ffeb00;
    text-transform: uppercase;
    line-height: inherit;
    margin: 0;
  }
  .booking-right-text p{
    font-size: 10px;
    color: #fff;
    margin-right: 10px;
  }
  .event-bookticket .download-icon-pdf{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #f00;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    border-radius: 50%;
    color: #fff !important;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 1;
    margin-left: auto;
    
  }
  @media(min-width:320px){
  .event-bookticket {
    display: block;
  }
  .bookticket-left{
    width:100%;
  }
  .bookticket-right {
    width: 100%;
    border-top: 3px dashed #fff;
    border-left:none;
  }
  .booking-right-text {
    height: auto;
    text-align: center;
  }
  }
  .event-bookticket {
    display: flex;
    justify-content: space-between;
  }
  .bookticket-left{
    width:70%;
  }
  .bookticket-right {
    width: 30%;
    border-left: 3px dashed #fff;
    border-top:none;
  }
  .booking-right-text {
    transform: rotate(90deg);
    height: 74px;
    width: 209px;
    position: absolute;
    top: 66px;
    right: -50px;
  }
  .top-circle-area-bottom {
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    top: auto;
    bottom: -15px;
    left: -17px;
    position: absolute;
  }
  