<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="loginPg">
                    <div class="loginBx">
                        <div class="logologin">
                            <ion-img src="/assets/images/logo.png"></ion-img>
                        </div>
                        <h1>Sign in to Continue</h1>
                        <form [formGroup]="loginForm" (ngSubmit)="submit()">
                            
                            <div class="form-group">
                                <input type="email" formControlName="email" class="form-control" placeholder="Email">
                                <span class="danger" *ngIf="loginForm.controls['email'].errors?.required &&
                        loginForm.controls['email'].touched">Email is required</span>
                            </div>
                            <div class="form-group" style="position: relative;">
                                <input [type]="isTextFieldType ? 'text' : 'password'" class="form-control passinput" placeholder="Password" formControlName="password">
                                
                                <ion-icon [name]="isTextFieldType ? 'eye-off' : 'eye'" class="passeye" (click)="togglePasswordFieldType()"></ion-icon>
                                <span class="danger" *ngIf="loginForm.controls['password'].errors?.required &&
                        loginForm.controls['password'].touched">Password is required</span>
                            </div>
                            <div class="frmaxon text-center">
                                <div class="col">
                                    <ion-button [disabled]="!loginForm.valid" type="submit" color="primary" shape="round" expand="block">Login</ion-button>
                                </div>
                            </div>
                        </form>
                        <!--<p>Or connect with</p>
                        <div class="frmaxon1">
                            <div class="col">
                                <ion-button [routerLink]="['/login']" routerDirection="forward" color="light" expand="block" fill="clear" class="g_btn">Sign In With Google  <ion-icon name="logo-google" item-left></ion-icon>
                                </ion-button>
                            </div>
                        </div>-->
                        <div class="forget_pass_block">
                            <div class="password_reste text-center p-2">
                                <!-- Forgot password -->
                                <a [routerLink]="['/forgetpass']">Forgot password?</a>
                            </div>
                        </div>

                        <p>Dont have any account? <a [routerLink]="['/register']">Sign Up</a></p>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>