<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Change Password</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" slot="fixed">
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="card-body">
                    <div class="loginPg">
                        <div class="loginBx">
                            <form [formGroup]="changpassForm" (ngSubmit)="submit()">

                                <div class="form-group">
                                 <input type="text" class="form-control" placeholder="Old Password *" formControlName="oldpassword">
                                 <span class="danger" *ngIf="changpassForm.controls['oldpassword'].errors?.required &&
                                changpassForm.controls['oldpassword'].touched">Old Password is required</span>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="New Password *" formControlName="newpassword">
                                    <span class="danger" *ngIf="changpassForm.controls['newpassword'].errors?.required &&
                                   changpassForm.controls['newpassword'].touched">New Password is required</span>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Confirm Password *" formControlName="confpassword">
                                    <span class="danger" *ngIf="changpassForm.controls['confpassword'].errors?.required &&
                                     changpassForm.controls['confpassword'].touched">Confirm password is required</span>
                                     <span class="danger" *ngIf="changpassForm.controls['confpassword'].errors?.confirmedValidator">Password and Confirm Password must be match.</span>
                                </div>

                                <div class="text-center">
                                    <ion-button [disabled]="!changpassForm.valid" type="submit" color="primary" shape="round" expand="block">CHANGE PASSWORD</ion-button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>